<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Lucky number:</strong>
  <%= @player.lucky_number %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @player.winner %>
</p>