 <div class="navbar navbar-dark bg-danger"> 
         <p class="navbar-text pull-left">Desenvolvido por  <a href="http://www.neosdev.com.br">Frederico Bezerra</a></p>
             <a class="navbar-text pull-right">
                <%= image_tag("http://belezanatural.com.br/wp-content/themes/belezanaturalresponsive/assets/img/logo.png") %>
             </a>
 </div>
 